@font-face {
    font-family: 'Space';
    src: url("SpaceGrotesk-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    margin: 20px;
    padding: 0;
    font-size: 24px;
    color: #120995;
}

.event-grid {
    position: relative;
    height: 60px;
}

.event {
    position: absolute;
    overflow: hidden;
    height: 60px;
}

.card {
    position: relative;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #120995;
    color: white;
    border: 2px solid #f0f0f0;
    cursor: pointer;
}

.card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.112);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #120995;
    cursor: pointer;
    margin: 0px;
    line-height: 0.5;
}