@font-face {
    font-family: 'Space';
    src: url("SpaceGrotesk-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space', sans-serif;
    background-color: #e0e0e0;
    font-size: 10pt;
    -webkit-font-smoothing: antialiased
}

.nav-container {
    margin-bottom: 10px;
}

.main-container {
    width: 100%;
    overflow-x: auto;
    transform: rotateX(180deg);
    scrollbar-color: #120995 transparent;
    border-bottom: 1px solid #120995;
}

.main-container-inside {
    transform: rotateX(180deg);
}

h1 {
    margin: 20px;
    padding: 0;
    font-size: 20px;
    color: #120995;
    font-weight: lighter;
}

h2 {
    margin: 0px;
    font-size: 20px;
    color: #120995;
    font-weight: lighter;
}

.event-grid {
    position: relative;
    height: 50px;
    background-image: linear-gradient(to right, #c9c9c9 1px, transparent 1px, transparent 98px);
    width: calc(100px * 24 * 10);
}

.event {
    position: absolute;
    overflow: hidden;
    height: 50px;
}

.card {
    position: relative;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #120995;
    color: white;
    border: 2px solid #e0e0e0;
    cursor: pointer;
    box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.2);
    filter: saturate(1.4);
}

.card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#timebar {
    position: relative;
    height: 20px;
}

.time {
    position: absolute;
    width: 100px;
    color: #120995;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.112);
    backdrop-filter: blur(0.1em);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #120995;
    cursor: pointer;
    margin: 0px;
    line-height: 0.5;
}

.modal .tag {
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    color: white;
    margin-right: 10px;
}

input {
    border: none;
    margin-left: 20px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'Space';
    border-radius: 7px;
}

@media screen and (max-width: 600px) {
    input[type=text] {
        width: calc(100% - 70px);
        display: block;
        margin-bottom: 10px;
    }
}

.star-button {
    color: #d213b6;
    cursor: pointer;
}

[type="checkbox"] {
    vertical-align: middle;
}

label {
    color: #120995;
}

#zoom-control {
    margin-left: 20px;
    color: #120995;
}

#zoom-control button {
    font-family: monospace;
    font-size: 12pt;
}

button {
    border: 1px solid #120995;
    cursor: pointer;
    background-color: transparent;
    color: #120995;
    font-size: 10pt;
    margin: 0px;
    font-family: 'Space', sans-serif;
    height: 20px;
    vertical-align: middle;
}

button:hover {
    background-color: #120995;
    color: white;
}

#ai-button {
    margin-left: 20px;
}

.modal input {
    background-color: #e0e0e0;
    margin-left: 0px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'Space';
    border-radius: 7px;
    width: calc(100% - 40px - 20%);
}

.modal button {
    width: 19%;
    vertical-align: middle;
    height: 36px;
    font-size: 10pt;
    border-radius: 7px;
    box-sizing: border-box;
    float: right;
}

.search-card {
    position: relative;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #120995;
    border: 1px solid #120995;
    cursor: pointer;
    box-shadow: none;
    filter: saturate(1.4);
    margin-bottom: 10px;
}